.search-container {
    width: 100%;
    max-width: 400px;
}

.input-wrapper {
    position: relative;
    background-color: #333333;
    border-radius: 0;
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 48px;
}

.input-wrapper:focus-within {
    outline: 2px solid white;
}

.search-icon {
    color: #ffffff;
    margin-right: 8px;
}

input {
    background: none;
    border: none;
    color: #ffffff;
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 1rem;
}

input::placeholder {
    color: #cccccc;
}