.app-layout {
    display: grid;
    height: 100vh;
    grid-template-areas:
        "sidebar main"
        "player player";
    grid-template-columns: 240px 1fr;
    grid-template-rows: 1fr 90px;
    background-color: black;
}

.sidebar-area {
    grid-area: sidebar;
    background-color: black;
    overflow: hidden;
}

.main-area {
    grid-area: main;
    background-color: #222222;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 0;
    margin: 8px 8px 0 0;
}

.top-bar {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 10;
}

.content {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.player-area {
    grid-area: player;
    z-index: 20;
    width: 100%;
}

.user-avatar {
    width: 32px;
    height: 32px;
    background-color: #333333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
}