.player-bar-simple {
    grid-area: player;
    background-color: #000000;
    border-top: 1px solid #222;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 100;
}

.simple-controls {
    display: flex;
    align-items: center;
    gap: 40px;

}

button {
    background: none;
    border: none;
    cursor: pointer;
    color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s, transform 0.2s;
}

button:hover {
    color: white;
    transform: scale(1.1);
}

.large-icon {
    font-size: 2.5rem;
}

.huge-icon {
    font-size: 4rem;
    color: #00ff00;

}

button:hover .huge-icon {
    color: #33ff33;
}

.filled {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}